.item {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 400px;
  height: 400px;
}

.first-player {
  background-color: red;
}

.second-player {
  background-color: blue;
}

.generated {
  width: 400px;
}

.generated-item {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: green;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: top;
}

.generated-item.first-player {
  background-color: red;
}

.generated-item.second-player {
  background-color: blue;
}
